// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.heading-large {
  margin-top: 70px;
  margin-bottom: 40px;
}

.box {
  background: #F8F8F8;
  padding: 10px 30px;
}

#feedback {
  margin-top: 50px;
}
.feedback-form{
  background: #F8F8F8;
  padding: 1em 1em 0.2em 1em;
}

.related {
  margin-top: 70px;
  h3:first-child {
    margin-top: 0;
    padding-top: 20px;
  }
  input {
    width: 100%;
  }
}

section .year-expand {
  overflow: hidden;
  border-bottom: 1px solid #BFC1C3;
  &:hover {
    background: #F8F8F8;
  }
  h3 {
    color: #005ea5;
    display: inline-block;
    float: left;
    margin: 20px 0;
  }
  div {
    float: right;
    height: 30px;
    span {
      display: inline-block;
      font-size: 36px;
      color: #005ea5;
      margin: 20px 0;
    }
  }
}

span.showHide-open-all {
  font-size: 16px;
  float: right;
  font-weight: normal;
  display: inline-block;
  color: $link-colour;
  text-decoration: underline;
}

dl.metadata {
  margin-top: 5px;
  margin-bottom: 10px;
  dt, dd {
    display: inline-block;
    margin-bottom: 5px;
  }
  dt {
    width: 35%;
    font-weight: bold;
  }
  dd {
    width: 64%;
  }
}

.feedback-form .multiple-choice {
  float: none;
  padding-bottom: 1em;
}

details {
  margin-top: 20px;
}

#feedback .button {
  margin-bottom: .7em
}
