{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        HM Land Registry Price Paid Data
        
      </h1>
      <div class="about">
        <div class="grid-row">
            <div class="column-full">
                <h3 class="heading-small">
                    Published by
                </h3>
                <p><a href="">Land Registry</a></p>
                <h3 class="heading-small">
                    Summary
                </h3>
                <p>Price Paid Data tracks the residential property sales in England and Wales that are lodged with HM Land Registry for registration. <br><a href="">View more</a></p>
            </div>
            <div class="column-one-half">
                <h3 class="heading-small">
                    Last updated
                </h3>
                <p>3 April 2105</p>
            </div>
            <div class="column-one-half">
                <h3 class="heading-small">
                    Update frequency
                </h3>
                <p>Quarterly</p>
            </div>
            <div class="column-one-half">
              <h3 class="heading-small">
                  Location
              </h3>
              <p>Surrey (local authority)</p>
            </div>
            <div class="column-half">
                <h3 class="heading-small">
                    License
                </h3>
                <p>Open Government Licence</p>
            </div>
          </div>
      </div>
      <h2 class="heading-medium">
        Data links
      </h2>
      <table>
        <thead>
          <tr>
            <th>Link to the data</th>
            <th>Format</th>
            <th>Date added</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">March 2017</a></td>
            <td>CSV</td>
            <td>02 April 2017</td>
          </tr>
          <tr>
            <td><a href="">February 2017</a></td>
            <td>CSV</td>
            <td>02 March 2017</td>
          </tr>
          <tr>
            <td><a href="">January 2017</a></td>
            <td>CSV</td>
            <td>02 February 2017</td>
          </tr>
          <tr>
            <td><a href="">December 2016</a></td>
            <td>CSV</td>
            <td>02 January 2017</td>
          </tr>
          <tr>
            <td><a href="">November 2017</a></td>
            <td>CSV</td>
            <td>02 December 2016</td>
          </tr>
        </tbody>
      </table>
      <details>
        <summary><span class="summary">View older link files</span></summary>

        <div class="panel panel-border-narrow">

        </div>

      </details>
      <h2 class="heading-medium">
        Additional information
      </h2>
      <p>We try to make sure that our public data is accurate, but cannot guarantee that it is free from errors or fit for your purpose or use. Reports are based on data collected at the time a property transaction is registered with us and will not necessarily be up to date with the most recent information. For more information, read <a href="">https://www.gov.uk/government/statistical-data-sets/price-paid-data-downloads#when-using-or-publishing-our-price-paid-data</a></p>
    </div>
    <div class="column-one-third related">
      <h3 class="heading-small">Search on data.gov.uk</h3>
      <label class="form-label" for="full-name-f1">Search by name, location or year</label>
      <input class="form-control" id="full-name-f1" type="text">
      <h3 class="heading-small">Related datasets</h3>
      <ul>
        <li><a href="">Traffic accidents in London</a></li>
        <li><a href="">Insurance claims</a></li>
        <li><a href="">Another dataset</a></li>
        <li><a href="">Yet another dataset</a></li>
        <li><a href="">And another dataset</a></li>
        <li><a href="">And the final dataset</a></li>
      </ul>
    </div>
    <h2 class="heading-medium">
        Data links
      </h2>
      <table>
        <thead>
          <tr>
            <th>Link to the data</th>
            <th>Format</th>
            <th>Date added</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="">March 2017</a></td>
            <td>CSV</td>
            <td>02 April 2017</td>
          </tr>
          <tr>
            <td><a href="">February 2017</a></td>
            <td>CSV</td>
            <td>02 March 2017</td>
          </tr>
          <tr>
            <td><a href="">January 2017</a></td>
            <td>CSV</td>
            <td>02 February 2017</td>
          </tr>
          <tr>
            <td><a href="">December 2016</a></td>
            <td>CSV</td>
            <td>02 January 2017</td>
          </tr>
          <tr>
            <td><a href="">November 2017</a></td>
            <td>CSV</td>
            <td>02 December 2016</td>
          </tr>
        </tbody>
      </table>
  </div>
</main>

{% endblock %}


